{
  CIDER: {
    dependencies: {
      nuget: "",
      tatin: "packages=Latest",
    },
    dependencies_dev: {
      tatin: "packages_dev=TestCases",
    },
    distributionFolder: "Dist",
    init: "InitProject",
    make: "Admin.Make 1",
    parent: "#",
    projectSpace: "Latest",
    project_url: "https://github.com/aplteam/Latest",
    source: "APLSource",
    tatinVars: "Latest",
    tests: "TestCases.RunTests",
  },
  LINK: {
    forceFilenames: 1,
    watch: "ns",
  },
  SYSVARS: {
    io: 1,
    ml: 1,
  },
  USER: {
  },
}
