<tool name="Latest">  <version>3.0.2</version>  <date>2020-01-19</date>  <container>#.Latest</container>  <needs>    <script>APLTreeUtils</script>    <script>FilesAndDirs</script>    <script development="true">Tester2</script>  </needs>  <admin>0</admin>  <autoload>1</autoload>  <buildid>25</buildid></tool>