<tool name="Latest">  <version>4.0.0</version>  <date>2020-02-12</date>  <container>#.Latest</container>  <needs>    <script>APLTreeUtils</script>    <script>FilesAndDirs</script>    <script development="true">Tester2</script>  </needs>  <admin>0</admin>  <autoload>1</autoload>  <buildid>69</buildid></tool>